body {
  background-color: #f9f7fe;
  font-family: "Lato", serif;
  font-weight: 400;
}
a {
  color: #885df1;
}

main {
  padding: 30px 0;
}
.box-container {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
  display: block;
  margin: 50px auto;
  max-width: 650px;
  padding: 30px;
}

.form {
  border-bottom: 1px solid rgb(249, 247, 254);
  display: block;
  padding-bottom: 35px;
}
.search-form {
  background-color: #f9f7fe;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  padding: 20px;
  width: 80%;
}

.submit-button {
  background-color: #885df1;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  margin-left: 10px;
  padding: 20px 30px;
}

.box {
  display: flex;
  justify-content: space-between;
}

.heading {
  font-size: 45px;
  line-height: 30px;
  margin: 0;
}

p {
  color: rgba(39, 33, 66, 0.4);
  font-weight: 400px;
  line-height: 25px;
  margin: 15px 0;
}

strong {
  color: rgb(142, 1, 142);
}

.weather-emoji {
  font-size: 80px;
  left: 10px;
  position: relative;
}
.temperature {
  font-weight: 600;
  font-size: 90px;
  position: relative;
  top: -20px;
}
.degree {
  bottom: 60px;
  font-size: 30px;
  position: relative;
  right: 5px;
}

.forecast {
  display: flex;
  justify-content: space-around;
  top: 30px;
}

.forecast-date {
  bottom: 8px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.forecast-icon {
  display: block;
  height: 85px;
  margin: 0 auto;
  width: 85px;
}

.forecast-temperatures {
  color: rgb(142, 1, 142);
  display: flex;
  justify-content: center;
  text-align: center;
  top: 10px;
}

.forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid rgb(249, 247, 254);
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  padding-top: 35px;
  text-align: center;
}
